.reveal, .reveal p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #70707d;
}

.reveal h1, .reveal h2, .reveal h3 {
    text-transform: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000000;
    text-align: left;
}

.reveal section img {
    box-shadow: none;
    background: none;
    border: none;
}

.reveal section img.logo {
    max-width: 50%;
}

.reveal, .reveal li {
    color: #ffce21;
}

.reveal, .reveal li span {
    color: #70707d;
}

.reveal a {
    color: #ffce21;
}

.reveal a:hover {
    color: #ffce21;
    text-decoration: underline;
}

.reveal .slide-number {
    color: #8F7C43;
    background-color: #FCDB77;
}

.reveal .progress {
    background: rgba(215, 206, 234, 0.5);
}

.reveal .progress span {
    background: #8D7BB7;
}

.reveal pre {
    width: 100%;
    margin: 0;
    box-shadow: none;
}

.reveal code, .reveal pre code {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Inconsolata, monospace, Courier, Helvetica, Arial, sans-serif;
}

.reveal blockquote {
    font-style: normal;
    font-family: Inconsolata, "Roboto Slab", Helvetica, Arial, sans-serif;
    border: 1px dotted;
    padding: 20px;
}


.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
    border-right-color: #8D7BB7; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
    border-left-color: #8D7BB7; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
    border-bottom-color: #8D7BB7; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
    border-top-color: #8D7BB7;
}

.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #8D7BB7; }

.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #8D7BB7; }

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #8D7BB7; }

.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #8D7BB7; }


section.size-L,
section .size-L,
pre.size-L {
    font-size: 60px;
    line-height: 90px;
}

section.size-M,
section .size-M,
pre.size-M {
    font-size: 50px;
    line-height: 75px;
}

section.size-S,
section .size-S,
pre.size-S {
    font-size: 40px;
    line-height: 60px;
}

section.size-XS,
section .size-XS,
pre.size-XS {
    font-size: 30px;
    line-height: 45px;
}

section.size-XXS,
section .size-XXS,
pre.size-XXS {
    font-size: 20px;
    line-height: 30px;
}

/* hightlight.js (custom or from https://github.com/isagalaev/highlight.js/tree/master/src/styles) */

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #444A64;
}

.hljs {
    color: #C1CBDF;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
    color: #6896ba;
}

.hljs-code,
.hljs-selector-class {
    color: #C1CBDF;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
    color: #5A8BE2;
}

.hljs-params {
    color: #b9b9b9;
}

.hljs-string,
.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
    color: #FCDB77;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #998;
}

/* Demo forms */

input[type="text"].demo {
    border: solid 1px #a8a8a2;
    padding: 10px 20px !important;
    line-height: 1.3;
    font-size: 100%;
    color: #444A64;
}

/* theme */

.reveal .slide-number {
    left: 8px;
    right: auto;
}

.reveal .controls {
    left: 10px;
    right: auto;
}

.xsolla-label:before {
    content: " ";
    position: fixed;
    right: 0;
    bottom: 0;
    widht: 10%;
    height: 10%;
    min-height: 300px;
    min-width: 300px;
    background: url(../images/xsolla_logo.svg) right bottom no-repeat;
    z-index: 1000;
}

section.xsolla-label:before {
    display: none;
}

.school-label:after {
    content: " ";
    position: fixed;
    top: 0;
    left: 30px;
    widht: 10%;
    height: 10%;
    min-height: 130px;
    min-width: 130px;
    background: url(../images/summer_school_logo.svg) right bottom no-repeat;
    z-index: 1000;
}

section.school-label:after {
    display: none;
}

/* Main title */
.reveal div.main-title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.reveal div.main-title-content {
    position: relative;
    top: 0;
    height: 460px;
    width: 50%;
    min-width: 660px;
    margin: -200px auto 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}

.reveal div.main-title-content-xsolla-logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 10%;
    min-width: 200px;
    min-height: 200px;
    background: url(../images/logo.svg) center no-repeat;
}

.reveal div.main-title-content-school-logo {
    position: absolute;
    top: -100px;
    left: -150px;
    width: 10%;
    height: 10%;
    min-width: 300px;
    min-height: 300px;
    background: url(../images/summer_school_logo.svg) center no-repeat;
}

.reveal div.main-title-content-text {
    position: absolute;
    bottom: -60px;
    right: -200px;
    padding: 50px;
    background-color: #ffce1d;
    box-shadow: 0 30px 40px -20px rgba(255, 206, 29, .3);
    text-align: left;
}

.reveal div.main-title-content-text h1 {
    font-weight: 500;
    font-size: 1.3em;
}

.reveal div.main-title-content-text p {
    color: #000000;
    margin-bottom: 0;
}

/* Topic title */
.topic-title-wrapper {
    height: 460px;
}

.reveal div.topic-title {
    position: absolute;
    top: 0;
    height: 460px;
    left: -100px;
    bottom: 0;
    right: -100px;
}

.reveal div.topic-title-logo {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, .1);
    width: 460px;
    height: 460px;
    background-color: #ffffff
}

.reveal div.topic-title-logo-image {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background: url(../images/fe_logo.svg) center no-repeat;
}

.reveal div.topic-title-content {
    position: absolute;
    top: 0;
    left: 460px;
    right: 0;
    bottom: 0;
    height: 460px;
    display: table;
}

.reveal div.topic-title-content-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.reveal div.topic-title-content-text-colored {
    padding: 50px;
    background-color: #ffce1d;
    box-shadow: 0 30px 40px -20px rgba(255, 206, 29, .3);
}

.reveal div.topic-title-content-text h2 {
    margin-top: 20px;
}