<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>AngularJS</title>
    <meta name="description" content="Разработка web-приложений на AngularJS">
    <meta name="author" content="Алексей Пихтовников">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../bower_components/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../bower_components/reveal.js/css/theme/white.css">
    <link rel="stylesheet" href="fonts/roboto.css">
    <link rel="stylesheet" href="fonts/inconsolata.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
    <script src="../bower_components/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <div class="slides">

        <!-- ======================================== Разработка web-приложений на AngularJS ======================================== -->
        <section data-background="#f7f7f7" class="xsolla-label">
            <div class="main-title">

            </div>
            <p><img class="logo" src="images/logo.svg" alt="Xsolla" /></p>
            <h3>Разработка web-приложений<br>на AngularJS</h3>
            <p>Алексей Пихтовников</p>
        </section>

        <!-- ======================================== До начала занятий ======================================== -->
        <section data-background="images/pattern.png" data-background-repeat="repeat">
            <section>
                <h2>До начала занятий...</h2>
            </section>

            <section>
                <h3>Знать ответы на вопросы</h3>
                <ul>
                    <li>Что  такое переменные, массивы, объекты и функции в JS? Обязательно!</li>
                    <li>Что такое nodejs, npm, bower, gulp и для чего используются?</li>
                    <li>Что такое SASS, Jade и как используются?</li>
                    <li>Что такое framework, MVC, dependency injection?</li>
                </ul>
            </section>

            <section>
                <h3>Также...</h3>
                <ul>
                    <li>Желательно познакомиться с методологией <a href="https://ru.bem.info" target="_blank">БЭМ</a>.</li>
                    <li>
                        И посмотреть, что из себя представляет ES6 и какие даёт <a href="https://github.com/lukehoban/es6features" target="_blank">возможности</a>
                        (на <a href="https://habrahabr.ru/company/plarium/blog/270353/" target="_blank">Хабре</a>).
                    </li>
                </ul>
            </section>

            <section>
                <h3>Подготовить платформу для разработки:</h3>
                <ol class="size-XS">
                    <li>
                        установить IDE (по вашему усмотрению), <a href="http://git-scm.com/" target="_blank">git</a>,
                        <a href="http://nodejs.org/" target="_blank">nodejs</a> (вместе с npm),
                        <a href="https://bower.io/" target="_blank">bower</a>;
                    </li>
                    <li>клонировать с GitHub учебный проект ng-start, выполнив команду <code>git clone https://github.com/apigraf/ng-start.git</code>;</li>
                    <li>перейти в директорию <code>ng-start</code>;</li>
                    <li>установить зависимости используя команду <code>npm install</code>;</li>
                    <li>запустить демо проект командой <code>npm run demo</code>;</li>
                    <li>если всё сделано верно, в браузере откроется страница с текстом <em>&laquo;Главная страница&raquo;</em>.</li>
                </ol>
            </section>
        </section>

        <!-- ======================================== План действий ======================================== -->
        <section>
            <section>
                <h2>План действий</h2>
            </section>

            <section>
                <h3>Немного теории</h3>
                <ul>
                    <li>Что такое AngularJS, область применения</li>
                    <li>Двунаправленное связывание данных и декларативный подход</li>
                    <li>Архитектура Angular приложения</li>
                    <li>Директивы, контроллеры, сервисы и фильтры</li>
                    <li>Библиотеки и расширения</li>
                    <li>Инструменты разработки</li>
                </ul>
            </section>

            <section>
                <h3>Максимум примеров</h3>
                <ul>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            </section>

            <section>
                <h3>И конечно же практика</h3>
                <ul>
                    <li>Вместе создадим приложение &laquo;Калькулятор&raquo;</li>
                    <li>И по максимуму погрузимся в промышленную разработку</li>
                </ul>
            </section>
        </section>

        <!-- ======================================== Декларативный подход вместо императивного ======================================== -->
        <section class="xsolla-label">
            <section>
                <h3>Декларативный подход вместо императивного</h3>
                <p class="fragment">Сравним два подхода<br>привязки данных в шаблонах...</p>
            </section>

            <section>
                <h3>Императивная привязка через jQuery</h3>
<pre><code class="hljs html size-XXS" data-trim contenteditable>
<div>
    <input id="name" type="text" />
    <span id="message">Привет</span>
</div>
<script>
    var name = $('#name');          // находим элемент ввода
    var message = $('#message');    // находим элемент вывода
    name.keyup(function() {         // слушаем события клавиатуры
        // и обновляем элемент вывода данными из ввода
        message.text('Привет, ' + name.val() + '!');
    });
</script>
</code></pre>
                <div>
                    <p><input id="name1" class="demo" type="text" /></p>
                    <p><span id="message1">Привет</span></p>
                </div>
            </section>

            <section>
                <h3>Декларативная привязка данных в AngularJS</h3>
<pre><code class="hljs html size-XS" data-trim contenteditable>
<div>
    <input type="text" ng-model="name" />
    <span>Привет, {{name}}!</span>
</div>
</code></pre>
                <div ng-app="slideExample1">
                    <p><input class="demo" type="text" ng-model="name"></p>
                    <p>Привет, {{name}}!</p>
                </div>
            </section>
        </section>


        <!-- ======================================== Angular 2 ======================================== -->
        <section>
            <h3>И на последок...</h3>
            <p>про Angular 2</p>
        </section>

        <!-- ======================================== Спасибо! Ссылки ======================================== -->
        <section>
            <h3>Спасибо!</h3>
            <ul class="size-XS">
                <li>слайды - <a href="https://apigraf.github.io/summer-school-angular">apigraf.github.io/summer-school-angular</a></li>
                <li>пример - <a href="https://github.com/apigraf/ng-start">github.com/apigraf/ng-start</a></li>
                <br>
                <li>сайт и документация - <a href="https://angularjs.org/">angularjs.org</a></li>
                <li>примеры для вдохновения - <a href="https://www.madewithangular.com">madewithangular.com</a></li>
                <li>Angular 2 - <a href="https://angular.io/">angular.io</a></li>
                <br>
                <li><a href="http://www.ozon.ru/context/detail/id/24938072/">книга на Ozon.ru</a> - &laquo;Разработка веб-приложений с&nbsp;использованием AngularJS&raquo;</li>
                <br>
                <li><a href="mailto:a.pihtovnikov@xsolla.com">a.pihtovnikov@xsolla.com</a></li>
            </ul>
        </section>
    </div>

</div>

<script src="../bower_components/lodash/dist/lodash.js"></script>
<script src="../bower_components/reveal.js/lib/js/head.min.js"></script>
<script src="../bower_components/reveal.js/js/reveal.js"></script>

<script>

    var queryParams = window.location.search.split('?')[1] ? window.location.search.split('?')[1].split('&') : [];
    var configParams = [];
    _.forEach(queryParams, function(param) {
        var paramArray = param.split('=');
        configParams[paramArray[0]] = paramArray[1];
    });

    var revealOptions = {
        controls: !!configParams['controls'] && Number(configParams['controls']) === 0 ? false : true,
        progress: true,
        slideNumber: true,
        center: true,
        transition: 'slide',
        history: true,
        dependencies: [
            { src: '../bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: '../bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: '../bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true },
            { src: '../bower_components/reveal.js/plugin/notes/notes.js', async: true }
        ]
    };

    if (configParams['socket_id'] && configParams['socket_secret'] && configParams['socket_node']) {
        if (configParams['socket_node'] === 'master') {
            revealOptions.multiplex = {
                secret: configParams['socket_secret'],
                id: configParams['socket_id'],
                url: 'https://reveal-js-multiplex-ccjbegmaii.now.sh'
            };

            revealOptions.dependencies.push({ src: 'https://cdn.socket.io/socket.io-1.3.5.js', async: true });
            revealOptions.dependencies.push({ src: '../bower_components/reveal.js/plugin/multiplex/master.js', async: true });
        } else if (configParams['socket_node'] === 'client') {
            revealOptions.multiplex = {
                secret: null,
                id: configParams['socket_id'],
                url: 'https://reveal-js-multiplex-ccjbegmaii.now.sh'
            };

            revealOptions.dependencies.push({ src: 'https://cdn.socket.io/socket.io-1.3.5.js', async: true });
            revealOptions.dependencies.push({ src: '../bower_components/reveal.js/plugin/multiplex/client.js', async: true });
        }
    }

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize(revealOptions);
</script>

<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>

<script>
    // ===== Код примеров на Angular: =====

    // ===== Код примеров на jQuery: =====
    angular.module('slideExample1', []);
    angular.module('slideExample2', []);

    $(document).ready(function() {
        var name = $('#name1');
        var message = $('#message1');
        name.keyup(function() {
            message.text('Привет, ' + name.val() + '!');
        });
    });

</script>
</body>
</html>
